<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="untitled-page untitled-page__realEstateSection">
  <div class="untitled-page__group">
    
  </div>
  <div class="untitled-page__flexCol">
    <div class="untitled-page__flexRow">
      <div class="untitled-page__contentBox">
        <div class="untitled-page__flexCol1">
          <img src="/static/msg1077964079-244131.000049.jpg">
        </div>
      </div>
      <h1 class="untitled-page__mainTitle">Real<br />Estate 360</h1>
      <button class="untitled-page__priceCalculatorBtn">Калькулятор цены</button
      ><button class="untitled-page__aboutUsBtn">О нас</button><button class="untitled-page__helpBtn">Помощь</button
      ><button class="untitled-page__loginBtn">Войти</button
      >
    </div>
    <div class="untitled-page__flexCol2">
      <h2 class="untitled-page__welcomeTitle">Добро пожаловать в Real Estate</h2>
      <h1 class="untitled-page__heroTitle1">Хотите узнать реальную<br />стоимость недвижимости?</h1>
      <h1 class="untitled-page__descriptionTitle">
        Наша главная цель - сделать рынок Казахстана более прозрачным.<br />Расчитайте стоимость квартиры, которую
        хотите приобрести,либо продать через наш калькулятор.
      </h1>
      <a href="{{ url_for('predict') }}" class="untitled-page__estimateCostBtn">Высчитать стоимость</a>
    </div>
  </div>
</div>
</body>
</html>